#main_content
  .row
    .col-xs-12
      = image_tag asset_path("support_cambodia.png")  
  .row#main_text
    .col-xs-12
      %h1.text-center.text-uppercase Join us to reward 20,000,000 Riel
      %h1.text-center.text-uppercase To Cambodian National Football Team

  .row
    .col-xs-8.col-xs-offset-4
      - value = "0001618"
      - value.split("").each do |c|
        .score.text-center
          %p= "#{c}"
  %br
  .row#help-us
    .col-xs-12.text-center
      %p Help us reach ONE MILLION to reward 20,000,000 Riel 
      %p to the Cambodia National Football Team
      %br
      %p.text-uppercase Here is how:
      %p Buy 1 CLEAR Bottle 480ml get 15 Reward
      %p Buy 1 CLEAR Bottle 340ml get 10 Reward
      %p Buy 1 CLEAR Bottle 80ml get 5 Reward
      %p Buy 1 CLEAR Sachet 480ml get 1 Reward
      %br
      %p Or any below action

  .row
    .col-xs-8.col-xs-offset-4
      .rectangle_box
        .row
          .col-xs-3{style: "padding: 10px; padding-left: 23px;"}
            = image_tag asset_path("profile.png"), size: "50x50"
          .col-xs-2{style: "margin-left: -30px;"}
            = image_tag asset_path("line.png")
          .col-xs-6{style: "padding: 18px;text-align:center; color: white;"}
            %p Show your support
  %br
  .row#action_item
    .col-md-8.col-md-offset-4
      .rectangle_box
        .row
          .col-md-3{style: "padding: 10px; padding-left: 23px;"}
            = image_tag asset_path("fb.png"), size: "22x46"
          .col-md-2{style: "margin-left: -30px;"}
            = image_tag asset_path("line.png")
          .col-md-6{style: "padding: 18px;text-align:center; color: white;"}
            %p Share on FB
  %br
  %br
  %br
  .row.blue_div{style: "margin: 40px; padding: 20px;"}
    .col-md-6{style: "padding-top: 5px;"}
      %p.text-uppercase{style: "color:white;"} Play our ball kick up challenge
      %p.text-uppercase{style: "color:white;"} and stand a chance to win clear men 1 year usage
    .col-md-6
      .box{style: "background: white;"}
        .row
          .col-md-3{style: "padding: 10px; padding-left: 23px;"}
            = image_tag asset_path("ball.png"), size: "40x40"
          .col-md-2{style: "margin-left: -30px;"}
            = image_tag asset_path("line.png"), style: "overlfow: hidden;"
          .col-md-6{style: "text-align:center; color: black; font-size:15px; padding-top: 20px;"}
            %p Play Kickup Challenge


