#sth{style: "background: url('#{asset_path 'bg.png'}') top center no-repeat; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0 0 0 0 !important;  overflow: visible;"}
  #main_content.container
    .row
      .col-md-12
        = image_tag asset_path("support_cambodia.png")  
    %br
    
    .row{style: " color: white; font-size: 18px; font-family: 'Koulen';"}
      .col-md-12.text-center.text-uppercase
        %p Clear  គាំទ្រទឹកប្រាក់ 20,000,000រ 
        %p ដល់ក្រុមជម្រើសជាតិកម្ពុជា
    
    / .row{style: "color: black; font-size: 14px; font-family: 'Oswald-Regular'; "}
    /   .col-md-12.text-center.text-uppercase
    /     %p Join us to reward 20,000,000 Riel
    /     %p To Cambodia National Football Team
    %br
    .row
      - value = "0001618"
      %table.col-md-12{style: "width: 100%;"}
        %tr
          - value.split("").each do |c|
            %td.score{style: "width: 13.6%; padding:10px;"}
              %p.text-center= "#{c}"
    %br
    %br
    .row#help-us{style: "color: white; font-size: 14px; font-family: 'Kantumruy-Regular';"}
      .col-md-12.text-center
        %p Clear ត្រូវការគាំទ្រ 
        %p 1 លានសម្លេង = 20 លានរៀល
        %br
        %p វិធីងាយៗដើម្បីគាំទ្រ៖
        %p ទិញសាប៊ូក្លៀរកញ្ចប់ = 1 សំលេង
        %p ទិញសាប៊ូក្លៀរដប = 10 សំលេង
        %br
        %p គាំទ្រតាមវិធីខាងក្រោម៖

    .row
      .col-md-12
        %a{href: "/support", style: "text-decoration: none;"}
          .div{style: "background-color: #121b4d;"}
            = image_tag asset_path("profile.png"), size: "30x30", style:"display: inline; margin: 10px;"
            = image_tag asset_path("line.png"), size: "1x1", style:"display: inline;"
            %p{style:"display: inline-block; color: white; font-size: 18px; margin-top: 10px; margin-left:20px;"} Show your support
    %br
    .row
      .col-md-12
        %a{href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.clearantidandruffcambodia.com%2F&amp;src=sdkpreparse", target: "blank", style: "text-decoration: none;"}
          .div{style: "background-color: #121b4d;"}
            = image_tag asset_path("fb.png"), size: "13x25", style:"display: inline; margin: 10px; margin-right:33px; margin-left:10px;"
            = image_tag asset_path("line.png"), size: "1x1", style:"display: inline; margin-left: -5px;"
            
            %p{style:"display: inline-block; color: white; font-size: 18px; margin-top: 10px; margin-left:20px;"} Share on Facebook


    
    / %br
    / .row{style: "background-color: rgba(18, 27, 78, 0.4); padding: 10px;"}
    /   .col-md-6{style: "padding-top: 5px;"}
    /     %p.text-uppercase{style: "color:white;"} Play our ball kick up challenge and stand a chance to win clear men 1 year usage
    /   .col-md-6
    /     %a{href: "/kickup", style: "text-decoration: none;"}
    /       .div{style: "background: white;height: 50px;"}    
    /         = image_tag asset_path("ball.png"), size: "30x30", style:"display: inline-block; margin-bottom: 15px; margin-left: 10px; margin-right: 10px;"
    /         = image_tag asset_path("line.png"), style:"display: inline; margin-left: -5px;"
    /         %p{style:"display: inline-block; margin-left: 20px; margin-top:15px;color: black; text-align:center;"} Play Kickup Challenge

%div{style: "background-color: black;"}
  .container
    %br
    %br        
    .row
      .col-md-1
      .col-md-10
        %iframe{width: "100%", height: "600", src: "https://www.youtube.com/embed/p-pww2lDFGQ"}
      .col-md-1

    %br
    %br
    %br
    %br   

    = render 'layouts/footer'


