#sth{style: "background: url('#{asset_path 'bg.png'}') top center no-repeat; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0 0 0 0 !important;  overflow: visible;"}
  #main_content.container
    .row
      .col-md-12
        = image_tag asset_path("support_cambodia.png")  
    %br
    
    .row{style: " color: white; font-size: 18px; font-family: 'Koulen'; margin-bottom:30px;"}
      .col-md-12.text-center.text-uppercase
        %p{style: "display: inline; font-size:16px; font-family: 'Oswald-Bold'; "} CLEAR
        %p{style: "display: inline;"}  គាំទ្រទឹកប្រាក់ 
        %p{style: "display: inline;font-size:16px; font-family: 'Oswald-Bold'; "} 20,000,000 <strong>៛</strong>
        %p ដល់ក្រុមជម្រើសជាតិកម្ពុជា
    
    / .row{style: "color: black; font-size: 14px; font-family: 'Oswald-Regular'; "}
    /   .col-md-12.text-center.text-uppercase
    /     %p Join us to reward 20,000,000 Riel
    /     %p To Cambodia National Football Team
    .row
      .col-md-12.text-center
        %p{style: " color: white; font-size: 14px; font-family: 'Kantumruy-Regular';"} លទ្ធផលសំលេងគាំទ្រ
    .row
      .col-md-2
      .col-md-8
        - value = @score_string
        %table{style: "width: 60%; margin-left: 20%;"}
          %tr
            - value.split("").each do |c|
              %td.score{style: "width: 13%;padding-top:7px; font-size: 16px; font-family: 'Oswald-Regular' "}
                %p.text-center= "#{c}"
      .col-md-2
    .row
      .col-md-12.text-center
        - date = DateTime.now
        - padding_day = date.day < 10 ? '0' : ''
        - padding_month = date.month <10 ? '0' : ''
        %br
        %p{style: "font-family: 'Kantumruy-Regular'; color: white; font-size: 14px;"}="ថ្ងៃទី #{padding_day}#{date.day} ខែ #{padding_month}#{date.month} ឆ្នាំ #{date.year}"
    %br
    %br
    .row#help-us{style: "color: white; font-size: 14px; font-family: 'Kantumruy-Regular';"}
      .col-md-12.text-center
        %p CLEAR ត្រូវការគាំទ្រ 
        %p 1 លានសំឡេង = 20 លានរៀល
        %br
        %p វិធីងាយៗដើម្បីគាំទ្រ៖
        %p ទិញសាប៊ូក្លៀរកញ្ចប់ = 1 សំឡេង
        %p ទិញសាប៊ូក្លៀរដប = 10 សំឡេង
        %br
        %p ឬគាំទ្រតាមវិធីខាងក្រោម៖

    .row
      .col-md-4
      .col-md-4
        %a{href: "/auth/facebook", style: "text-decoration: none;"}
          %div{style: "background-color: #121b4d;"}
            = image_tag asset_path("profile.png"), size: "30x30", style:"display: inline-block; margin: 10px;"
            = image_tag asset_path("line.png"), size: "1x1", style:"display: inline-block;"
            %p{style:"display:inline-block; color: white; font-size: 17px; margin-top: 15px; margin-left: 40px; font-family: 'Kantumruy-Regular' "} ប្តូររូបភាព PROFILE
    %br
    .row
      .col-md-4
      .col-md-4
        %a{href: "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.clearantidandruffcambodia.com%2F&amp;src=sdkpreparse", target: "blank", style: "text-decoration: none; font-family: 'Kantumruy-Regular';"}
          .div{style: "background-color: #121b4d;"}
            = image_tag asset_path("fb.png"), size: "13x25", style:"display: inline; margin: 10px; margin-right:33px; margin-left:10px;"
            = image_tag asset_path("line.png"), size: "1x1", style:"display: inline; margin-left: -5px;"
            %p{style:"display: inline-block; color: white; font-size: 17px; margin-top: 13px; margin-left:20px;"} ចែករំលែកលើ FACEBOOK


    
    / %br
    / .row{style: "background-color: rgba(18, 27, 78, 0.4); padding: 10px;"}
    /   .col-md-6{style: "padding-top: 5px;"}
    /     %p.text-uppercase{style: "color:white;"} Play our ball kick up challenge and stand a chance to win clear men 1 year usage
    /   .col-md-6
    /     %a{href: "/kickup", style: "text-decoration: none;"}
    /       .div{style: "background: white;height: 50px;"}    
    /         = image_tag asset_path("ball.png"), size: "30x30", style:"display: inline-block; margin-bottom: 15px; margin-left: 10px; margin-right: 10px;"
    /         = image_tag asset_path("line.png"), style:"display: inline; margin-left: -5px;"
    /         %p{style:"display: inline-block; margin-left: 20px; margin-top:15px;color: black; text-align:center;"} Play Kickup Challenge

%div{style: "background-color: black;"}
  .container
    %br
    %br        
    .row
      .col-md-1
      .col-md-10
        /%iframe{width: "100%", height: "600", src: "https://www.youtube.com/embed/p-pww2lDFGQ?autoplay=1"}
        #player
      .col-md-1
    %br        
    = render 'layouts/footer'

:javascript
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      width: '100%',
      videoId: 'p-pww2lDFGQ',
      playerVars: { 'autoplay': 1, 'controls': 0, 'rel': 0 },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      //setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }


