:javascript
  $(document).ready(function(){


        $("#file").hide();
        $("#my_canvas").hide();

        $("#blank_picture, #label, #my_image").click(function(){
          $("#file").click();
        });

        var image_url = '#{@image_url}';
        if( image_url){
          console.log("image_url present");
          console.log(image_url);
          $("#my_canvas").show();
          var canvas = $('#canvas')[0];
          var ctx = canvas.getContext('2d');
          $img1 = $('<img>', { src: image_url});
          $img1.load(function() {
              ctx.drawImage(this, 0, 0, 400, 400);

              $img2 = $('<img>', { src: "#{asset_path('BlueFilterAndLogo.png')}"});

              $img2.load(function() {
                  ctx.drawImage(this, 0, 0, 400, 400);
              });
          });

          
        }

        var orientation = 1;

        $('#file').change(function(e) {
            $("#sample").hide();
            $("#my_canvas").show();
            var file = e.target.files[0],
                imageType = /image.*/;
            
            if (!file.type.match(imageType))
                return;
            
            loadImage.parseMetaData(file, function (data) {
              if (data.exif) {
                console.log('orientation');
                orientation = data.exif.get('Orientation');
                console.log(orientation);
              }
            })


            var reader = new FileReader();
            reader.onload = fileOnload;
            reader.readAsDataURL(file);
            
        });
        
        function fileOnload(e) {
            var $img = $('<img>', { src: e.target.result });
            var canvas = $('#canvas')[0];
            var ctx = canvas.getContext('2d');
            ctx.save();

            $img.load(function() {
                
                switch(orientation){
                  case 2:
                      // horizontal flip
                      ctx.translate(canvas.width, 0);
                      ctx.scale(-1, 1);
                      break;
                  case 3:
                      // 180° rotate left
                      ctx.translate(canvas.width, canvas.height);
                      ctx.rotate(Math.PI);
                      break;
                  case 4:
                      // vertical flip
                      ctx.translate(0, canvas.height);
                      ctx.scale(1, -1);
                      break;
                  case 5:
                      // vertical flip + 90 rotate right
                      ctx.rotate(0.5 * Math.PI);
                      ctx.scale(1, -1);
                      break;
                  case 6:
                      // 90° rotate right
                      console.log("enter here 6");
                      
                      ctx.rotate(0.5 * Math.PI);
                      ctx.translate(0, -canvas.height);
                      break;
                  case 7:
                      // horizontal flip + 90 rotate right
                      ctx.rotate(0.5 * Math.PI);
                      ctx.translate(canvas.width, -canvas.height);
                      ctx.scale(-1, 1);
                      break;
                  case 8:
                      // 90° rotate left
                      ctx.rotate(-0.5 * Math.PI);
                      ctx.translate(-canvas.width, 0);
                      break;
              }
              
              ctx.drawImage(this, 0, 0, 400, 400);
              ctx.restore();  

              $filter = $('<img>', { src: "#{asset_path('BlueFilterAndLogo.png')}"});

              $filter.load(function() {
                  ctx.drawImage(this, 0, 0, 400, 400);
              });
              orientation = 1
            });


            

        }


        function dlCanvas() {
          var canvas = $('#canvas')[0];
          var dt = canvas.toDataURL('image/png');
          /* Change MIME type to trick the browser to downlaod the file instead of displaying it */
          dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');

          /* In addition to <a>'s "download" attribute, you can define HTTP-style headers */
          dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=Canvas.png');

          this.href = dt;
        };
        document.getElementById("dl").addEventListener('click', dlCanvas, false);
  });

#sth{style: "background-color: black; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0 0 20px 0 !important;  overflow: visible;"}
  
  #main_content.container
    .row
      .col-md-12.text-center
        .text-uppercase{style: "font-size: 16px; color: white; font-weight: bold;"} Change your profile picture
    .row{style: "margin-top: 20px;"}
      .col-md-12.text-center
        %p{style: "font-size: 14px; color: white;"} Show your support for Cambodia National Football Team and Celebrate the moment!

    - if !@image_url.present?    
      .row{style: "margin-top: 20px;"}
        .col-md-6.col-md-offset-3{id: "my_image"}
          = image_tag asset_path("BlueFilterAndLogo.png"), id: "sample"
    .row{id: "my_canvas"}
      .col-md-6.col-md-offset-3
        %canvas#canvas{:height => "400", :width => "400", style: "position: initial;"}

    = form_for @stamp do |f|
      .field.row
        .col-md-12.text-center
          = f.label :image, "Change picture", style: "display: inline-block; color: white;", id: "label"
          
          = image_tag asset_path("blankpicture.png"), style: "display: inline-block;", id: "blank_picture"
          %p{style: "color: white; font-size:10px;"} (Please allows up to 5 seconds for image to be processed properly)
          = image_tag "", id: "blah", width: 200, height:200
          = f.file_field :image, id: "file"

        %br
        %br
      .actions.text-center
        %a.btn.btn-lg.btn-primary{id:"dl", download: "clear_cambodia.png", href: "#"}
          Download This Picture
        

    %br

    .row
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p Please download to your computer or mobile then set as Profile Picture
    %br
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p #CamNatFootballTeam
    
    %br
    %br
    %br
    %br
    = render 'layouts/footer'

