:javascript
  $(document).ready(function(){

        $("#file").hide();
        $("#my_canvas").hide();

        $("#blank_picture, #label, #my_image").click(function(){
          $("#file").click();
        });


        $('#file').change(function(e) {
            $("#sample").hide();
            $("#my_canvas").show();
            var file = e.target.files[0],
                imageType = /image.*/;
            
            if (!file.type.match(imageType))
                return;
            
            var reader = new FileReader();
            reader.onload = fileOnload;
            reader.readAsDataURL(file);
            
        });
        
        function fileOnload(e) {
            var $img = $('<img>', { src: e.target.result });
            var canvas = $('#canvas')[0];
            var context = canvas.getContext('2d');

            $img.load(function() {
                context.drawImage(this, 0, 0, 500, 500);

                var exif = EXIF.readFromBinaryFile(new BinaryFile(this.result));

                switch(exif.Orientation){

                   case 8:
                       context.rotate(90*Math.PI/180);
                       break;
                   case 3:
                       context.rotate(180*Math.PI/180);
                       break;
                   case 6:
                       context.rotate(-90*Math.PI/180);
                       break;
                }
            });


            $filter = $('<img>', { src: "#{asset_path('BlueFilterAndLogo.png')}"});

            $filter.load(function() {
                context.drawImage(this, 0, 0, 500, 500);
            });
        }


        function dlCanvas() {
          var canvas = $('#canvas')[0];
          var dt = canvas.toDataURL('image/png');
          /* Change MIME type to trick the browser to downlaod the file instead of displaying it */
          dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');

          /* In addition to <a>'s "download" attribute, you can define HTTP-style headers */
          dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=Canvas.png');

          this.href = dt;
        };
        document.getElementById("dl").addEventListener('click', dlCanvas, false);
  });
.div{style: "background-color: black; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0 0 20px 0 !important;  overflow: visible;"}
  
  #main_content.container
    .row
      .col-md-12.text-center
        .text-uppercase{style: "font-size: 16px; color: white; font-weight: bold;"} Change your profile picture
    .row{style: "margin-top: 20px;"}
      .col-md-12.text-center
        %p{style: "font-size: 14px; color: white;"} Show your support for Cambodia National Football Team and Celebrate the moment!

    .row{style: "margin-top: 20px;"}
      .col-md-6.col-md-offset-3{id: "my_image"}
        = image_tag asset_path("BlueFilterAndLogo.png"), id: "sample"
    .row{id: "my_canvas"}
      .col-md-6.col-md-offset-3
        %canvas#canvas{:height => "500", :width => "500", style: "position: initial;"}

    = form_for @stamp do |f|
      .field.row
        .col-md-12.text-center
          = f.label :image, "Change picture", style: "display: inline-block; color: white;", id: "label"
          = image_tag asset_path("blankpicture.png"), style: "display: inline-block;", id: "blank_picture"
          = image_tag "", id: "blah", width: 200, height:200
          = f.file_field :image, id: "file"
        %br
        %br
      .actions.text-center
        %a.btn.btn-lg.btn-primary{id:"dl", download: "clear_cambodia.png", href: "#"}
          Download This Picture
        

    %br

    .row
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p Please download to your computer or mobile then set as Profile Picture
    %br
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p #CamNatFootballTeam
    
    %br
    %br
    %br
    %br
    = render 'layouts/footer'

