:javascript
  $(document).ready(function(){
        var image_uploaded_path = '';

        $("#file").hide();
        $("#my_canvas").hide();

        $("#blank_picture, #label, #my_image").click(function(){
          $("#file").click();
        });

        var image_url = '#{@image_url}';
        //if( image_url){
        //  
        //  $("#my_canvas").hide();
        //  var canvas = document.getElementById('canvas');
        //  var ctx = canvas.getContext('2d');
        //  $img1 = $('<img>', { src: image_url});
        //  $img1.load(function() {
        //      ctx.drawImage(this, 0, 0, 400, 400);

        //   $img2 = $('<img>', { src: "#{asset_path('BlueFilterAndLogo.png')}" });
        //    $img2.load(function() {
        //        ctx.drawImage(this, 0, 0, 400, 400);
        //    });    
        //  });
          
          
        //}

        var orientation = 1;

        $('#file').change(function(e) {
            
            
            var file = e.target.files[0],
                imageType = /image.*/;
            
            if (!file.type.match(imageType))
                return;
            
            // loadImage.parseMetaData(file, function (data) {
            //   if (data.exif) {
            //    console.log('orientation');
            //     orientation = data.exif.get('Orientation');
            //     console.log(orientation);
            //   }
            // })


            // var reader = new FileReader();
            // reader.onload = fileOnload;
            // reader.readAsDataURL(file);


            var formData = new FormData($('#new_stamp')[0]);
            $.ajax({
                url: '/stamps/upload',  //Server script to process data
                type: 'POST',
                dataType: "json",
                xhr: function() {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){ // Check if upload property exists
                        myXhr.upload.addEventListener('progress',progressHandlingFunction, false); // For handling the progress of the upload
                    }
                    return myXhr;
                },
                
                // Form data
                data: formData,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success : handleData
            });
            
        });

        function handleData(data) {
          console.log("image uploaded");
          image_uploaded_path = data.image_uploaded_path
          console.log(image_uploaded_path);
          var src = "#{request.protocol}#{request.host}"+ image_uploaded_path;
          console.log("new src");
          console.log(src)
          $('#sample').attr("src", src );
          $('#sample').show();
          $('#progress').text('Done!');

        }

        function progressHandlingFunction(e){
            if(e.lengthComputable){
                $('#progress').text('processing... ' + Math.ceil(e.loaded*100/e.total)+ '%');
            }
        }

        
        function fileOnload(e) {
            var $img = $('<img>', { src: e.target.result});
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            
            ctx.save();

            $img.load(function() {
                
                switch(orientation){
                  case 2:
                      // horizontal flip
                      ctx.translate(canvas.width, 0);
                      ctx.scale(-1, 1);
                      break;
                  case 3:
                      // 180° rotate left
                      ctx.translate(canvas.width, canvas.height);
                      ctx.rotate(Math.PI);
                      break;
                  case 4:
                      // vertical flip
                      ctx.translate(0, canvas.height);
                      ctx.scale(1, -1);
                      break;
                  case 5:
                      // vertical flip + 90 rotate right
                      ctx.rotate(0.5 * Math.PI);
                      ctx.scale(1, -1);
                      break;
                  case 6:
                      // 90° rotate right
                      console.log("enter here 6");
                      
                      ctx.rotate(0.5 * Math.PI);
                      ctx.translate(0, -canvas.height);
                      break;
                  case 7:
                      // horizontal flip + 90 rotate right
                      ctx.rotate(0.5 * Math.PI);
                      ctx.translate(canvas.width, -canvas.height);
                      ctx.scale(-1, 1);
                      break;
                  case 8:
                      // 90° rotate left
                      ctx.rotate(-0.5 * Math.PI);
                      ctx.translate(-canvas.width, 0);
                      break;
              }
              
              ctx.drawImage(this, 0, 0, 400, 400);
              ctx.restore();  
              orientation = 1

              $filter = $('<img>', { src: "#{asset_path('BlueFilterAndLogo.png')}"});
              $filter.load(function() {
                  ctx.drawImage(this, 0, 0, 400, 400);
              });

            });

          
        }


        function dlCanvas() {
          if (image_uploaded_path && image_uploaded_path.length > 0){
            dt = "#{request.protocol}#{request.host}" + "#{download_stamps_path}"+ '?filepath=' + image_uploaded_path; 
            console.log(dt);
            $("#dl").attr('href', dt);
            return ;
          }
          var canvas = document.getElementById('canvas');
          var dt = canvas.toDataURL('image/png');
          /* Change MIME type to trick the browser to downlaod the file instead of displaying it */
          dt = dt.replace(/^data:image\/[^;]*/, 'data:application/octet-stream');

          /* In addition to <a>'s "download" attribute, you can define HTTP-style headers */
          dt = dt.replace(/^data:application\/octet-stream/, 'data:application/octet-stream;headers=Content-Disposition%3A%20attachment%3B%20filename=Canvas.png');


          this.href = dt;
        };
        document.getElementById("dl").addEventListener('click', dlCanvas, false);
  });

#sth{style: "background-color: black; background-size: 100% 100%; margin: 0 0 0 0 !important; padding: 0 0 20px 0 !important;  overflow: visible;"}
  
  #main_content.container
    .row
      .col-md-12.text-center
        .text-uppercase{style: "font-size: 16px; color: white; font-weight: bold;"} Change your profile picture
    .row{style: "margin-top: 20px;"}
      .col-md-12.text-center
        %p{style: "font-size: 14px; color: white;"} Show your support for Cambodia National Football Team and Celebrate the moment!

    /- if !@image_url.present?    
    .row{style: "margin-top: 20px;"}
      .col-md-6.col-md-offset-3{id: "my_image"}
        = image_tag asset_path("BlueFilterAndLogo.png"), id: "sample"
    .row{id: "my_canvas"}
      .col-md-6.col-md-offset-3
        %canvas#canvas{width: "400", height:"400", style: "position: initial; width: 400px; height: 400px;"}
    
    = form_for @stamp do |f|
      .field.row
        .col-md-12.text-center
          = f.label :image, "Change picture", style: "display: inline-block; color: white;", id: "label"
          
          = image_tag asset_path("blankpicture.png"), style: "display: inline-block;", id: "blank_picture"
          %p{id: "progress", style: "color: white; font-size:10px;"} (Please allow few seconds for image to be processed properly)
          = image_tag "", id: "blah", width: 200, height:200
          = f.file_field :image, id: "file"
          
        %br
        %br
      .actions.text-center
        %a.btn.btn-lg.btn-primary{id:"dl", download: "clear_cambodia.png", href: ""}
          Download This Picture
        
    %br

    .row
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p Please download to your computer or mobile then set as Profile Picture
    %br
      .col-md-12.text-center{style: "color:white; font-size: 14px;"}
        %p #CamNatFootballTeam
    
    %br
    %br
    %br
    %br
    = render 'layouts/footer'

