%div{style: "background: url('#{asset_path 'bg.png'}') top center no-repeat; background-size: 100% 100%; margin: 0 0 100 0 !important; padding: 0 0 0 0 !important;  overflow: visible;"}
	%br
	- if current_user.present?
		.container{style: "margin-top: 85px 0 0 0;color:white;"}	
			%h4 លទ្ធផលរបស់អ្នក
			.row
				.col-md-12
					%table{style: "width: 100%;"}
						%tr{style: "padding: 10px;"}
							%th{style: "padding: 10px; background-color: red; cellpadding: 10px;"} លេខរៀង	
							%th{style: "padding: 10px; background-color: red; cellpadding: 10px;"} ពិន្ទុខ្ពស់បំផុត
						%tr{style: " color: black;"}
							%td{style: "padding: 10px; background-color: rgba(255,255,255, 0.7);"}
								= @position
							%td{style: "padding: 10px; background-color: rgba(255,255,255, 0.7);"}
								= @user.score


	%br	
	.container{style: "margin-top: 85px; color: white;"}	
		%h4 អ្នកពិន្ទុខ្ពស់ដំបូងទាំង10
		%br
		%table{style: "width: 100%;"}
			%tr
				%th.text-center{style: "width:3%; background-color:#121b4d; padding: 10px; "} Rank
				%th{style: "width: 1%;"}
				%th{style: "width:30%; padding: 10px; color:black; font-size: 16px;background-color: rgba(255,255,255, 0.5);"} Name
				%th{style: "width: 1%;"}
				%th.text-center{style: "width:7%; background-color:#121b4d; padding: 10px; "} Score
			%tr{style: "height: 5px;"}	
			- @users.each.with_index do |user, i|
				%tr
					%td.text-center{style: "width:3%; background-color:#121b4d; padding: 10px; "}= (i+1)
					%td{style: "width: 1%;"}
					%td{style: "width:30%; padding: 10px; color:black; font-size: 16px;background-color: rgba(255,255,255, 0.5);"}= user.name
					%td{style: "width: 1%;"}
					%td.text-center{style: "width:7%; background-color:#121b4d; padding: 10px; "}= user.score
				%tr{style: "height: 5px;"}
	

	.container
		%br
		%br
		%br
		= render "layouts/footer"