!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "http://www.clearantidandruffcambodia.com", :property => "og:url"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "Clear Anti Dandruff Cambodia", :property => "og:title"}/
    %meta{:content => "Best Anti-dandruff Shampoo. Scalp Care Specialists. Clear Paris Institute", :property => "og:description"}/
    %meta{:content => Rails.public_path.to_s + asset_path("support_cambodia.png"), :property => "og:image"}/
    %title= content_for?(:title) ? yield(:title) : 'Clear Anti Dandruff Cambodia'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Clearmen'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    
    = render 'layouts/messages'
    = yield
